html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.blocks {
    width: 99%;
}

.blocks .object {
    float: left;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #929292;
    font-size: 22px;
    height: 10em;
    width: 49%;
    left: 0;
    line-height: 37px;
    padding: 5px;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 70px;
}

.phone-form {
    height: 600px;
}

.upload-button{
    width: 200px;
}

.phone-object {
    position: absolute;
    top: 180px;
    height: 500px;
    float: left;
    z-index: 5;
}

.uploader-preview {
    position: absolute;
    left: 240px;
    z-index: 2;
    top: 180px;
}

#modal-crop {
    width: 100%;
}
.modal-content/*.modal-dialog*/ {
    left: 50%;
}